<!DOCTYPE html>
<html>
<head>
	<title>HTML5 TEST</title>
    <style>
      body {
        margin:0px;
        padding:0px;
        text-align:center;
      }
      
      canvas{
        outline:0;
        border:5px solid #000;
        margin-left: auto;
        margin-right: auto;
      }
    </style>
    
    <script type="text/javascript" src="Box2dWeb-2.1.a.3.min.js"></script>
    <script type="text/javascript" src="http://cdn.html5quintus.com/v0.1.1/quintus-all.min.js"></script>
</head>
<body>
   <body onload="init();">
	<canvas id="canvas" width='1000' height='800'></canvas>
    </body>
    <script src="blocks.js"></script>
</body>
</html>